 body{
    background-color: aqua;

 }

 ::selection{
    color:black;
    background: red;
 }

.star-button,
.info-box,
.quiz-box,
.result-box{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(50%, -50%) ;
}

.info-box.activeinfo,
.quiz-box.activequiz,
.result-box.activeresult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1)
}




